@model mvcCV.Models.entity.TBLDENEYİM
@{
    ViewBag.Title = "DeneyimGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h4>Deneyim Güncelleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Deneyim ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.BASLIK, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Başlık")
    @Html.TextBoxFor(x => x.ALTBASLIK, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.TARİH, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.ACIKLAMA, new { @class = "form-control" })
    <br />
    <button class="btn btn-info ">Güncelle</button>
</form>